
.slick-prev:before,
.slick-next:before {
    color: black;
}

.custom-scrollbar::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

/* / Track / */
.custom-scrollbar::-webkit-scrollbar-track {
	background: #131c21;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #394045;
}


.shadowcss {
	filter: drop-shadow(8px 8px 15px #f5efd5);
}



.page_title {
    @apply text-3xl font-semibold mb-8 text-center font-rubik
}